#  Nexys 2-500 Board
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<7> LOC=J14  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<6> LOC=J15  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<5> LOC=K15  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<4> LOC=K14  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<3> LOC=E17  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<2> LOC=P15  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<1> LOC=F4  |  IOSTANDARD = LVCMOS33;
Net fpga_0_LEDs_8Bit_GPIO_IO_O_pin<0> LOC=R4  |  IOSTANDARD = LVCMOS33;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=B8  |  IOSTANDARD = LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=B18  |  IOSTANDARD = LVCMOS33;

# VGA Connector
NET "top_0_VGA_Red_pin<0>"   LOC = "R9"; # Bank = 2, Pin name = IO/D5, Type = DUAL, Sch name = RED0
NET "top_0_VGA_Red_pin<1>"   LOC = "T8"; # Bank = 2, Pin name = IO_L10N_2, Type = I/O, Sch name = RED1
NET "top_0_VGA_Red_pin<2>"   LOC = "R8"; # Bank = 2, Pin name = IO_L10P_2, Type = I/O, Sch name = RED2
NET "top_0_VGA_Green_pin<0>" LOC = "N8"; # Bank = 2, Pin name = IO_L09N_2, Type = I/O, Sch name = GRN0
NET "top_0_VGA_Green_pin<1>" LOC = "P8"; # Bank = 2, Pin name = IO_L09P_2, Type = I/O, Sch name = GRN1
NET "top_0_VGA_Green_pin<2>" LOC = "P6"; # Bank = 2, Pin name = IO_L05N_2, Type = I/O, Sch name = GRN2
NET "top_0_VGA_Blue_pin<0>"  LOC = "U5"; # Bank = 2, Pin name = IO/VREF_2, Type = VREF, Sch name = BLU1
NET "top_0_VGA_Blue_pin<1>"  LOC = "U4"; # Bank = 2, Pin name = IO_L03P_2/DOUT/BUSY, Type = DUAL, Sch name = BLU2

NET "top_0_HSync_pin" LOC = "T4"; # Bank = 2, Pin name = IO_L03N_2/MOSI/CSI_B, Type = DUAL, Sch name = HSYNC
NET "top_0_VSync_pin" LOC = "U3"; # Bank = 2, Pin name = IO_L01P_2/CSO_B, Type = DUAL, Sch name = VSYNC

#Joystick 1
NET "PmodJSTK_Module_0_SS_pin" LOC = "L15" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L09N_1/A11, Type = DUAL, Sch name = JA1
NET "PmodJSTK_Module_0_MOSI_pin" LOC = "K12" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L11N_1/A9/RHCLK1, Type = RHCLK/DUAL, Sch name = JA2
NET "PmodJSTK_Module_0_MISO_pin" LOC = "L17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L10N_1/VREF_1, Type = VREF, Sch name = JA3
NET "PmodJSTK_Module_0_SCK_pin" LOC = "M15" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L07P_1, Type = I/O, Sch name = JA4

#Joystick 2
NET "PmodJSTK_Module_1_SS_pin" LOC = "M13" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L05N_1/VREF_1, Type = VREF, Sch name = JB1
NET "PmodJSTK_Module_1_MOSI_pin" LOC = "R18" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L02P_1/A14, Type = DUAL, Sch name = JB2
NET "PmodJSTK_Module_1_MISO_pin" LOC = "R15" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L03P_1, Type = I/O, Sch name = JB3
NET "PmodJSTK_Module_1_SCK_pin" LOC = "T17" | IOSTANDARD = LVCMOS33; # Bank = 1, Pin name = IO_L01N_1/A15, Type = DUAL, Sch name = JB4