//! **************************************************************************
// Written by: Map M.81d on Sat Mar 26 14:01:41 2011
//! **************************************************************************

SCHEMATIC START;
COMP "VSync" LOCATE = SITE "U3" LEVEL 1;
COMP "clk50Mhz" LOCATE = SITE "B8" LEVEL 1;
COMP "VGA_Red<0>" LOCATE = SITE "R9" LEVEL 1;
COMP "VGA_Red<1>" LOCATE = SITE "T8" LEVEL 1;
COMP "VGA_Red<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "VGA_Blue<0>" LOCATE = SITE "U5" LEVEL 1;
COMP "VGA_Blue<1>" LOCATE = SITE "U4" LEVEL 1;
COMP "HSync" LOCATE = SITE "T4" LEVEL 1;
COMP "VGA_Green<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "VGA_Green<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "VGA_Green<2>" LOCATE = SITE "P6" LEVEL 1;
NET "clk50Mhz_BUFGP/IBUFG" BEL "clk50Mhz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

