NET "red<0>" LOC = "R9";
NET "red<1>" LOC = "T8";
NET "red<2>" LOC = "R8";
NET "grn<0>" LOC = "N8";
NET "grn<1>" LOC = "P8";
NET "grn<2>" LOC = "P6";
NET "blue<0>" LOC = "U5";
NET "blue<1>" LOC = "U4";
NET "HS" LOC = "T4";
NET "VS" LOC = "U3";
NET "clk" LOC = "B8";

# Leds
NET "Led<0>"  LOC = "J14";
NET "Led<1>"  LOC = "J15";
NET "Led<2>"  LOC = "K15";
NET "Led<3>"  LOC = "K14"; 
NET "Led<4>"  LOC = "E17"; 
NET "Led<5>"  LOC = "P15";
NET "Led<6>"  LOC = "F4"; 
NET "Led<7>"  LOC = "R4"; 

# Switches
NET "sw<0>" LOC = "G18";
NET "sw<1>" LOC = "H18";
NET "sw<2>" LOC = "K18"; 
NET "sw<3>" LOC = "K17"; 
NET "sw<4>" LOC = "L14"; 
NET "sw<5>" LOC = "L13"; 
NET "sw<6>" LOC = "N17"; 
NET "sw<7>" LOC = "R17";