//! **************************************************************************
// Written by: Map M.81d on Tue Mar 15 10:26:07 2011
//! **************************************************************************

SCHEMATIC START;
COMP "Led<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "Led<4>" LOCATE = SITE "E17" LEVEL 1;
COMP "Led<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "Led<6>" LOCATE = SITE "F4" LEVEL 1;
COMP "Led<7>" LOCATE = SITE "R4" LEVEL 1;
COMP "clk50Mhz" LOCATE = SITE "B8" LEVEL 1;
COMP "SCK" LOCATE = SITE "M15" LEVEL 1;
COMP "MISO" LOCATE = SITE "L17" LEVEL 1;
COMP "SS" LOCATE = SITE "L15" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "MOSI" LOCATE = SITE "K12" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "Led<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "Led<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "Led<2>" LOCATE = SITE "K15" LEVEL 1;
NET "clk50Mhz_BUFGP/IBUFG" BEL "clk50Mhz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

